<%- include("partials/header.ejs") %>
<div class="text-center" id = "banner">
    <h1 class="display-2">Welcome <%= currentUserData.displayName %></h1>
</div>



<div class ="text-center btn-block" id = "row">
    <a class="btn btn-dark" id="bttnRow" href="#FavPlayer">Favorite Players</a>
    <a class="btn btn-dark text-light" id="bttnRow" href="#FavTeam">Favorite Teams</a>
    <a class="btn btn-dark text-light" id="bttnRow" href="#Asettings">Account Setting</a>
    <a class="btn btn-dark text-light" id="bttnRow" href="logout">Sign Out</a>
</div>

<br />
<br />
<br />
<h1 class=" text-center display-2" id="FavPlayer">Favorite Players</h1>
<br>
<br />
<br />
<div class="container teamPage-container">
    <div class="container-fluid">
        <div class="row justify-content-evenly">
            <!-- PLAYER CARD -->
            <%# EJS CODE %> <% favoriteInfo.forEach(function(player) { %>
            <div
                class="col-lg-3 col-md-3 col-sm-12 card shadow"
                id="playerCard"
            >
                <div class="image-cropper shadow">
                    <div class="image-cropper-subContainer">
                        <% if(player.headshot){ %> <%# IF TWITTER ACCOUNT EXISTS
                        %>
                        <img
                            class="card-img-top rounded-circle"
                            id="playerImage"
                            src="<%= player.headshot %>"
                        />
                        <% } else{ %>
                        <img
                            class="card-img-top rounded-circle"
                            id="playerImage"
                            src="/images/generic-player.png"
                        />
                        <% } %>
                    </div>
                </div>
                <div class="card-body" id="playerInfo">
                    <h5 class="card-title">
                        <%= player.name %><span
                            class="p-1 unfavorite"
                            style="color: #ffd700"
                            ><i class="fa fa-star"></i
                        ></span>
                    </h5>
                    <div class="d-flex justify-content-evenly playerStats">
                        <div class="playerStats-subContainer">
                            <h5 class="card-text"><%= player.jersey %></h5>
                            <h6 class="stat-title-text">Jersey No.</h6>
                        </div>
                        <div class="playerStats-subContainer">
                            <h5 class="card-text"><%= player.position %></h5>
                            <h6 class="stat-title-text">Position</h6>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center icon-bar">
                        <% if(player.twitter){ %> <%# IF TWITTER ACCOUNT EXISTS
                        %>
                        <a
                            class="btn btn-lg btn-social btn-twitter text-decoration-none hvr-grow"
                            href="<%=player.twitter %>"
                            target="_blank"
                            ><i class="fa fa-twitter"></i
                        ></a>
                        <% } %> <% if(player.instagram){ %> <%# IF INSTAGRAM
                        ACCOUNT EXISTS %>
                        <a
                            class="btn btn-lg btn-social text-decoration-none btn-instagram hvr-grow"
                            href="<%=player.instagram %>"
                            target="_blank"
                            ><i class="fa fa-instagram"></i
                        ></a>
                        <% } %> <% if(player.facebook){ %> <%# IF FACEBOOK
                        ACCOUNT EXISTS %>
                        <a
                            class="btn btn-lg btn-social btn-facebook text-decoration-none hvr-grow"
                            href="<%=player.facebook %>"
                            target="_blank"
                            ><i class="fa fa-facebook"></i
                        ></a>
                        <% } %>
                    </div>
                </div>
            </div>
            <% }); %>
            <h1 class=" text-center display-2" id="FavTeam">Favorite Teams</h1>
            <br>
            <br />
            <br />
            <div class="row justifiy-content-evenly">
                <%favoriteTeamsInfo.forEach(function(team) { %>
                <div
                    class="col-lg-3 col-md-3 col-sm-12 card shadow hvr-grow teamCard"
                >
                    <img
                        class="mr-3"
                        src="<%= team.teamLogo %>"
                        alt="Card image cap"
                    />
                    <% var teampath= team.team;
                    teampath=teampath.split(" ").join("_");
                    teampath=teampath.toLowerCase();
                    teampath="/teams/"+teampath; %>

                    <a href="<%= teampath %>" id="teamtextLink"
                        ><span id="teamtext"><%= team.team %> </span></a
                    >
                    <span class="unfavoriteTeam" style="color: #ffd700"
                        ><i class="fa fa-star"></i
                    ></span>
                </div>
                <% }); %><%# END EJS CODE %>
            </div>
            <h1 class=" text-center display-2" id="Asettings">Account Settings</h1>
            <br>
            <br />
            <br />
            <section class="h-100">
                <div class="container h-100 p-5">
                    <div class="row justify-content-sm-center h-100">
                        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                                <div class="card-body p-5">
                                  <h1 class="fs-4 card-title fw-bold mb-4">Change Username</h1>
                                  <form id="changeUsername" class="inline-form">
                                      <div class="mb-3">
                                          <input id="username" type="text" class="form-control" name="username" pattern="^[_A-z0-9]{1,}$" minlength="1" maxlength="15" title="No Special Characters. No Space Allowed"  required autofocus/>
                                          <div class="invalid-feedback">Username is invalid</div>
                                      </div>
                                      <div class="align-items-center d-flex">
                                          <button class="btn btn-primary ms-auto" id="changeUsernameSubmit">Submit</button>
                                      </div>
                                  </form>
                              </div>
                              <div class="card-body p-5">
                                <button type="button" class="btn btn-danger" id="deleteAccount">Delete Account</button>
              
                            </div>
                        </div>
                    </div>
                </div>
              </section>
              
              <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
              <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<%- include("partials/footer.ejs") %>
