<%- include("partials/header.ejs") %>

<!-- NBA LOGO -->
<br />
<div class="text-center">
  <h1 class="display-2"><%= team[0].team %></h1>
  <img height="200px" width="200px" src="<%= team[0].teamLogo %>" />
</div>
<br />

<div class="container">
  <div class="container-fluid">
    <div class="row justify-content-evenly">
      <!-- PLAYER CARD -->
      <%# EJS CODE %> <% team.slice(1).forEach(function(player) { %>
      <div class="col-lg-3 col-md-3 col-sm-12 card shadow" id="playerCard">
        <% if(player.headshot){ %> <%# IF TWITTER ACCOUNT EXISTS %>
        <img class="card-img-top rounded-circle" id="playerImage" src="<%= player.headshot %>" />
        <% } else{ %>
        <img class="card-img-top rounded-circle" id="playerImage" src="/images/generic-player.png" />
        <% } %>

        <div class="card-body">
          <h5 class="card-title"><%= player.name %></h5>
          <h6 class="card-text"><%= player.position %> | <%= player.jersey %></h6>
          <button id="<%= player.name %>" class="favoriteButton"><%= player.name %></button>

          <div class="d-flex justify-content-center icon-bar">
            <% if(player.twitter){ %> <%# IF TWITTER ACCOUNT EXISTS %>
            <a class="btn btn-lg btn-social btn-twitter text-decoration-none hvr-grow" href="<%=player.twitter %>" target="_blank"><i
                class="fa fa-twitter"></i></a>
            <% } %> <% if(player.instagram){ %> <%# IF INSTAGRAM ACCOUNT EXISTS %>
            <a class="btn btn-lg btn-social text-decoration-none btn-instagram hvr-grow" href="<%=player.instagram %>" target="_blank"><i
                class="fa fa-instagram"></i></a>
            <% } %> <% if(player.facebook){ %> <%# IF FACEBOOK ACCOUNT EXISTS %>
            <a class="btn btn-lg btn-social btn-facebook text-decoration-none hvr-grow" href="<%=player.facebook %>" target="_blank"><i
                class="fa fa-facebook"></i></a>
            <% } %>
          </div>
        </div>
      </div>
      <% }); %> <%# END EJS CODE %>
    </div>
  </div>
</div>


<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    const firebaseConfig = {
        apiKey: 'AIzaSyDhYbSc9y3bw0j7EmLtL2k4huvoK99Uhxs',
        authDomain: 'sportsocialmediaprofile.firebaseapp.com',
        databaseURL:
            'https://sportsocialmediaprofile-default-rtdb.firebaseio.com',
        projectId: 'sportsocialmediaprofile',
        storageBucket: 'sportsocialmediaprofile.appspot.com',
        messagingSenderId: '701173843774',
        appId: '1:701173843774:web:41588c9dcc218e8cc6ce6f',
    };
    firebase.initializeApp(firebaseConfig);

    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    //Establish database connection
    const db = firebase.firestore();

    document.querySelectorAll('.favoriteButton').forEach((item) => {
        item.addEventListener('click', (event) => {
            return db
                .collection('users')
                .doc(`gz80rgotT0VfwhZkbAY20K3hXRZ2`)
                .update({
                    favorites: firebase.firestore.FieldValue.arrayUnion(
                        item.id
                    ),
                })
                .then(() => {
                    console.log('updated successfully');
                })
                .catch((error) => {
                    // The document probably doesn't exist.
                    console.error('Error updating document: ', error);
                });
        });
    });

</script>

<%- include("partials/footer.ejs") %>