<%- include("partials/header.ejs") %>

    <!-- NBA LOGO -->
    <br>
    <div class="text-center">
      <h1 class="display-2"><%= teamHeader %></h1> 
    </div>
    <br>

    <!-- PLAYER CARD -->
    <%# EJS CODE %>
    
    <div class="container"><% team.forEach(function(player) { %> 
        <div class="card shadow p-1 mb-4 sm-white rounded" id="playerCard">
          
          <% if(player.headshot){ %>    <%# IF TWITTER ACCOUNT EXISTS  %>
            <img class="card-img-top rounded-circle" id="playerImage" src="<%= player.headshot %>">
          <% } else{ %>  
          <img class="card-img-top rounded-circle" id="playerImage" src="/images/generic-player.png">
          <% } %>

          <div class="card-body">
            <h5 class="card-title"><%= player.name %> </h5>
            <h6 class="card-text"><%= player.position %> | <%= player.jersey %> </h6>
         
            <% if(player.twitter){ %>    <%# IF TWITTER ACCOUNT EXISTS  %>
              <a href="<%=player.twitter %>" target="_blank"><i class="fa fa-twitter"></i></a>
            <% } %>

            <% if(player.instagram){ %> <%# IF INSTAGRAM ACCOUNT EXISTS  %>
              <a href="<%=player.instagram %>" target="_blank"><i class="fa fa-instagram"></i></a>
            <% } %>

            <% if(player.facebook){ %> <%# IF FACEBOOK ACCOUNT EXISTS  %>
            <a href="<%=player.facebook %>" target="_blank"><i class="fa fa-facebook"></i></a>
            <% } %>
          </div>
        </div>
        <% }); %> 

      <%# END EJS CODE %>
    </div>
  <%- include("partials/footer.ejs") %>