<%- include("partials/header.ejs") %>
    <!-- NBA LOGO -->
    <div class="text-center p-5">
      <hr>

      <img id="teamLogo" src="<%= team[0].teamLogo %>">
      <span class="display-2">
        <%= team[0].team %>          <!-- check if the array of user's favorite teams includes the current pages team -->
      <% if (team[0].favoriteTeamStatus) { %>
        <span class="unfavoriteTeam"><i class="fa fa-star teamFavIcon"></i></span>
          <%} else { %>
          <span class="favoriteTeam"><i class="fa fa-star-o teamFavIcon"></i></span>
        <% } %>
      </span>
      <hr>
    </div>
    <div class="container teamPage-container">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <!-- PLAYER CARD -->
          <%# EJS CODE %>
          <% team.slice(1).forEach(function(player) { %>
          <div class="col-lg-3 col-md-3 col-sm-12 card shadow" id="playerCard" style="--teamColor: #<%= team[0].teamColor %>">
            <div class="image-cropper shadow">
            <div class ="image-cropper-subContainer">
            <% if(player.headshot){ %> <%# IF TWITTER ACCOUNT EXISTS  %>
            <img class="card-img-top rounded-circle" id="playerImage" src="<%= player.headshot %>">
            <% } else{ %>
            <img class="card-img-top rounded-circle" id="playerImage" src="/images/generic-player.png">
            <% } %>
            </div>
            </div>
            <div class="card-body" id="playerInfo">
              <h5 class="card-title"><%= player.name %>
                <% if(!player.favStatus){%>
                  <span class="p-1 favoritePlayer"><i class="fa fa-star-o"></i></span>
                  <% }else{ %>
                    <span class="p-1 unfavoritePlayer"><i class="fa fa-star"></i></span>
              <% } %>
            </h5>
              <div class="d-flex justify-content-evenly playerStats">
                <div class="playerStats-subContainer">
                  <h5 class="card-text"><%= player.jersey %></h5>
                  <h6 class="stat-title-text">Jersey No.</h6>
                </div>
                <div class="playerStats-subContainer">
                  <h5 class="card-text"><%= player.position %></h5>
                  <h6 class="stat-title-text">Position</h6>
                </div>
              </div>

              <div class="d-flex justify-content-center icon-bar">

                <% if(player.twitter){ %> <%# IF TWITTER ACCOUNT EXISTS  %>
                <a class="btn btn-lg btn-social btn-twitter text-decoration-none hvr-grow" href="<%=player.twitter %>" target="_blank"><i class="fa fa-twitter"></i></a>
                <% } %>

                <% if(player.instagram){ %> <%# IF INSTAGRAM ACCOUNT EXISTS  %>
                <a class="btn btn-lg btn-social text-decoration-none btn-instagram hvr-grow" href="<%=player.instagram %>" target="_blank"><i class="fa fa-instagram"></i></a>
                <% } %>

                <% if(player.facebook){ %> <%# IF FACEBOOK ACCOUNT EXISTS  %>
                <a class="btn btn-lg btn-social btn-facebook text-decoration-none hvr-grow" href="<%=player.facebook %>" target="_blank"><i class="fa fa-facebook"></i></a>
                <% } %>
              </div>
            </div>
          </div>
          <% }); %>

          <%# END EJS CODE %>
        </div>
      </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<%- include("partials/footer.ejs") %>
